<nav class="nav">
  <div class="logo"><a href="{{@blog.url}}" style="background: url({{@blog.logo}}) 0 0 / 100% auto no-repeat;"><span>{{@blog.title}}</span></a></div>
  <ul class="main-nav">
    {{#foreach navigation}}
      {{#unless @last}}
          <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
      {{/unless}}
    {{/foreach}}
  </ul>
  <div class="info">
    {{#foreach navigation}}
        {{#if @last}}
            <a href="{{url absolute="true"}}" class="info-about">...</a>
        {{/if}}
    {{/foreach}}
    <a href="{{@blog.url}}" title="Creative Commons - Attribution-NonCommercial-NoDerivatives 4.0 International" class="info-right">Copyright © <span id="cur_date">2016</span></a>
    <script>document.getElementById("cur_date").innerHTML=new Date().getFullYear();</script>
  </div>
</nav>
